In [1]:
import tabula

In [2]:
pdf_path = r"Bangalore Mobility Indicators_(22-12-2011).pdf"

In [3]:
dfs = tabula.read_pdf(pdf_path, pages = [15,16,17,21,63,67,68], multiple_tables=True, stream=True)

Got stderr: Dec 03, 2020 9:25:02 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:09 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:10 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:11 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:11 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:11 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:11 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:11 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:12 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:12 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:12 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:13 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored
Dec 03, 2020 9:25:14 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri,Italic are not implemented in PDFBox and will be ignored

In [4]:
dfpop = dfs[0]

In [5]:
dfpop.dropna(inplace = True)

In [6]:
dfpop.columns = ["Zones", "Population in 2001", "Population 2011"]

In [7]:
import numpy as np

In [8]:
dfpop = dfpop.applymap(np.int64)

In [9]:
#dfpop.to_csv('Test.csv')

In [10]:
dfa = dfs[1].dropna()

In [11]:
dfa.drop("ZONES",1, inplace = True)

c:\users\aniru\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
import pandas as pd

In [13]:
import numpy as np
dfpop['Zone'] = np.arange(start=1, stop=12, step=1)

In [14]:
dfpop = dfpop.drop('Zones',1).set_index('Zone')

In [15]:
dfa['Zone']=np.arange(start=1, stop=12, step=1)

<ipython-input-15-d1de9cd9c79d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa['Zone']=np.arange(start=1, stop=12, step=1)

In [16]:
dfa.set_index('Zone',inplace=True)

In [18]:
dff = pd.concat([dfpop, dfa], axis=1)

In [21]:
dfs[2].drop([0,1,2],0, inplace=True)

In [25]:
dfs[2].drop('ZONES',1, inplace=True)

In [26]:
dfs[2]['Zone'] = np.arange(start=1, stop=12, step =1)

In [30]:
dff = pd.concat([dff, dfs[2]], axis=1)

In [31]:
dff

,Population in 2001,Population 2011,2008 Study Average,2011 Average Density,Area (in Sq.,2011 Average,2008 Average
Zone,,,,,,,
1,1245548,1465613,26479,41905.0,52,14917,10468
2,1364197,1695183,15974,22541.0,101,6035,4503
3,1584552,1877024,26580,36801.0,65,9380,7209
4,369679,578773,3738,6379.0,151,1182,1239
5,351732,534797,4221,7039.0,132,2391,2227
6,303126,473205,6404,5895.0,141,1784,2727
7,231891,404924,709,4928.0,126,986,377
8,180523,273622,5816,4765.0,61,565,1347
9,133818,193058,---,613.0,296,351,---
10,185326,256787,---,7167.0,457,274,---
11,151611,193915,---,10985.0,249,269,---

In [34]:
dfmode = dfs[4]

In [37]:
dfmode.drop('Average',1, inplace=True)

In [42]:
dfmode.set_index('Mode',inplace = True)

In [48]:
lnames = list(dfmode.index)

In [51]:
dfmode.reset_index(inplace=True)

In [53]:
dfmode.drop('Mode',1,inplace=True)

In [55]:
dfmode.dropna(inplace=True)

In [58]:
dfmode = dfmode.T

In [60]:
dfmode.drop([0],1, inplace=True)

In [65]:
dfmode = dfmode.reset_index().drop('index',1)
dfmode['Zone'] = np.arange(start=1, stop=12, step =1)
dfmode.set_index('Zone',inplace=True)

In [69]:
lnames
dfmode.columns = ['Walk','Bicycle',
 'Taxi/Maxi Cab',
 'Auto',
 'Two wheeler',
 'Car/Van',
 'Public Transport']

In [72]:
dfmode.columns = [str(col) + '- Mode Share' for col in dfmode.columns]

In [75]:
dff = pd.concat([dff, dfmode], axis=1)

In [79]:
dfs[5] = dfs[5].T
dfs[5].reset_index(inplace=True)

In [82]:
dfs[5].drop([0,1],0,inplace=True)
dfs[5].drop(['index'],1,inplace=True)
dfs[5].drop([0],1,inplace=True)

In [85]:
temp = dfs[5].T

In [86]:
temp.index.name = 'Zone'

In [87]:
temp.columns = ['Per Capita Trip Rate']

In [89]:
dff = pd.concat([dff, temp], axis=1)

In [92]:
temp = dfs[6]

In [95]:
temp.drop([0,1,3],0, inplace=True)
temp.drop(['Zone No'],1, inplace=True)
temp = temp.T
temp = temp.reset_index().drop('index',1)
temp['Zone'] = np.arange(start=1, stop=12, step =1)
temp.set_index('Zone',inplace=True)

In [97]:
temp.columns = ['Average Trip Length (km)']

In [99]:
dff = pd.concat([dff, temp], axis=1)

In [103]:
temp = dfs[7]
temp.columns = ['Zone', 'Slow moving vehicles share']
temp.set_index('Zone',inplace=True)

In [105]:
dff = pd.concat([dff, temp], axis=1)

In [111]:
temp = dfs[9]
temp.drop([0,1,13],0,inplace=True)

In [114]:
temp.columns = ['Zone','Work Trip <15 min']
temp.set_index('Zone', inplace=True)

In [117]:
temp = temp["Work Trip <15 min"].str.split(" ", n = 1, expand = True)

In [119]:
temp.columns = ['<15 min', '<30 min']
temp

     <15 min <30 min
Zone
1        14%     24%
2        13%     32%
3         9%     24%
4        11%     17%
5        15%     22%
6        13%     20%
7        18%     33%
8        13%     22%
9        11%     20%
10       14%     26%
11       13%     23%

In [120]:
dff = pd.concat([dff, temp], axis=1)

In [125]:
dff.to_csv('Test2.csv')